#delaylabel, #delayAdjust, #seconds {
  float: left;
  display: inline-block;
}

#delayAdjust {
  border: 0;
  margin-left: 1em;
  margin-top: .4em;
}

#seconds {
  display: inline-block;
  margin-top: .6em;
  margin-left: .5em;
  margin-right: 1em;
  width: 10em;
}

#fullscreenlabel {
  display: inline-block;
  float: right;
}

#video-container {
  display: block;
  height: 480px;
  width: 640px;
  margin: auto;
  position: relative;
}
#video-container:-webkit-full-screen {
  width: 100%;
  height: 100%;
}

#disclaimer {
  background-color: white;
  height: 1.5em;
  line-height: 1.5em;
  position: absolute;
  top: calc(100% - 1.5em);
}

video {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#controls-container {
  height: 3em;
  width: 800px;
  margin: auto;
}

#github-ribbon {
  border: 0;
  right: 0;
  position: absolute;
  top: 0;
}
